.prospects__row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  justify-items: left;

  background-color: var(--light-comp);
  padding: 4px 16px;
  color: white;
  border-radius: 6px;
  height: 40px;
}

.prospects__row__member{
	background-color: var(--light-comp);
	align-content: center;
	text-align: center;
}

.ACTIVE {
  color: var(--green);
}
.HIRED {
  color: var(--dark-blue);
}
.DISCARTED {
  color: red;
}
.PAUSED {
  color: gray;
}

.prospects__row__member__prospected_for {
	align-content: center;
	text-align: center;
	padding: 0 24px;
  	height: 30px;
  	border-radius: 24px;
}

.Amazon {
  background-color: #dfcd2c;
  color: black;
}
.Youtube {
  background-color: #ff2c2c;
  color: black;
}
.Kaiser {
  background-color: #7667db;
  color: black;
}
