.prospects__row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  justify-items: left;

  background-color: var(--light-comp);
  padding: 4px 16px;
  color: var(--text-color);
  border-radius: 6px;
  height: 40px;
}

.prospects__row:hover{
	scale: 1.025;
	cursor: pointer;
}
.prospects__row.content:hover{
	filter: brightness(0.92);
}

.prospects__row__member{
	background-color: transparent;
	align-content: center;
	text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ACTIVE {
  color: var(--green);
}
.HIRED {
  color: var(--dark-blue);
}
.DISCARTED {
  color: red;
}
.PAUSED {
  color: gray;
}

.prospected_for__nametag__container {
  flex-direction: row;
}

.prospected_for__nametag{
  display: flex;
  padding: .5rem;
  align-items: center;
  justify-content: center;
  background-color: #ff2c2c;
  border-radius: 24px;
  color: black;
}

.selected{
  padding-top: 1em;
  padding-bottom: 2.5em;
  scale: 1.01;
  filter: contrast(0.75);
}

.capability__nametag__container{
  flex-direction: row;
}