.prospects__row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  justify-items: left;

  background-color: var(--light-comp);
  padding: 4px 16px;
  color: var(--text-color);
  border-radius: 6px;
  height: 40px;
}

.prospects__row:hover{
	scale: 1.02;
	cursor: pointer;
  .prospects__row__control__tools{
    visibility: visible;
  }
  padding-bottom: 4em;
}
.prospects__row.content:hover{
	filter: brightness(0.92);
}

.prospects__row__member{
	background-color: transparent;
	align-content: center;
	text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ACTIVE {
  color: var(--green);
}
.HIRED {
  color: var(--dark-blue);
}
.DISCARTED {
  color: red;
}
.PAUSED {
  color: gray;
}

.prospects__row__member__prospected_for {
	align-content: center;
	text-align: center;
	padding: 0 24px;
  	height: 30px;
  	border-radius: 24px;
}

.Amazon {
  background-color: #dfcd2c;
  color: black;
}
.Youtube {
  background-color: #ff2c2c;
  color: black;
}
.Kaiser {
  background-color: #7667db;
  color: black;
}


.prospects__row__control__tools{
  display: flex;
  flex-direction: row;
  visibility: collapse;
  max-width: inherit;
  .ToolButton {
    background-color: var(--dark-comp);
  }
  gap: 0.5em;
}