@import "../../../styles/index.css";

.personal__info__edit {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--background);
}

.personal__info__modal::backdrop{
  background-color: rgba(0, 0, 0, 0.54);
}

.personal__info__modal {
  margin: auto;
  width: 50vw;
  height: 75vh;
  border: 1.5px solid var(--dark-comp);
}

.personal__info__edit__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.personal__info__edit__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.personal__info__edit__form > input{
  background-color: var(--light-comp);
}

.personal__info__submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.personal__info__submit__button {
  padding: 0.5rem;
  width: 100%;
  background-color: var(--light-comp);
}

.save__button:hover,
.personal__info__submit__button:hover {
  cursor: pointer;
}

.save__button {
  background-color: var(--green);
}

.personal__info__edit__form__input {
  background-color: var(--lightcomp);
}

.file__upload {
  border: 2px dashed #cccccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #333333;
  position: relative;
}

.file__input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file__upload__message {
  font-size: 14px;
  color: #cccccc;
  text-align: center;
  background-color: var(--lightcomp);
}

.file__upload__link {
  color: #00aaff;
  text-decoration: none;
  background-color: var(--lightcomp);
}

.file__upload__link:hover {
  text-decoration: underline;
}

.file-upload-instructions {
  font-size: 12px;
  color: #cccccc;
  text-align: center;
  padding-bottom: 12px;
}
