.project-main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  scrollbar-width: none;
}

.project-main-container__title {
  align-self: center;
}

.project-edition-buttons button {
  background-color: var(--light-comp);
  cursor: pointer;
  border-radius: 25px;
  padding: 0.5rem;
}

.project-edition-buttons button:hover {
  background-color: rgba(56, 56, 56, 0.5);
}

.project-edition-buttons {
  display: flex;
  place-content: center;
  gap: 1rem;
}

.project-table {
  align-self: center;
  margin-bottom: 10px;
}
.delete-project-button {
  color: red;
}
