.create__prospect-modal{
    flex-direction: column;
    width: 40%;
    justify-self: center;
    align-self: center;
    padding: 18px;
    border: none;
}

.close-modal{
    width: 5%;
}

.create__prospect-modal > *{
    padding-bottom: 20px;
}

.create__prospect-modal::backdrop{
    background-color: rgba(0, 0, 0, 0.54);
}

.create__prospect-modal__heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create__prospect-modal input,
.create__prospect-modal select{
    background-color: var(--light-comp);
    border: none;
}

.create__prospect-modal__capabilities,
.create__prospect-modal__senority{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.create__prospect-modal p,
.create__prospect-modal__buttons button{
    display: block;
    width: 100%;
}

.create__prospect-modal__buttons button{
    border: none;
    border-radius: 6px;
    padding: 4px;
}

.create__prospect-modal__buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.save-button{    
    background-color: var(--green);
    color: var(--dark-comp);
}

.cancel-button{    
    background-color: var(--light-comp);
    color: var(--white);
}

.create__prospect-modal select,
.create__prospect-modal input{
    width: 70%;
    padding: 4px 0 4px 10px;
}

.create__prospect__form{
	display: flex;
	flex-direction: column;

	gap: .5rem;
}