.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 12px;
  background-color: var(--light-comp);
  color: white;
  text-align: center;
}

.menu-icon {
  font-size: 24px;
  background-color: var(--light-comp);
}
.menu-icon:hover {
  cursor: pointer;
  background-color: var(--light-comp);
}
.header-left {
  display: flex;
  gap: 12px;
  background-color: var(--light-comp);
}
