.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 12px;
  background-color: var(--light-comp);
  color: white;
  text-align: center;
}

.menu-icon {
  font-size: 24px;
  background-color: var(--light-comp);
  padding-top: 0.2rem;
}
.menu-icon:hover,
.darkmode_button:hover {
  cursor: pointer;
  background-color: var(--light-comp);
}
.header-left {
  display: flex;
  gap: 12px;
  background-color: var(--light-comp);
}
.header-title {
  background-color: var(--light-comp);
}
.header-user-name {
  display: flex;
  gap: 12px;
  background-color: var(--light-comp);
}
.header-user-name h3 {
  background-color: var(--light-comp);
}
.darkmode-button {
  background-color: var(--light-comp);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 3rem;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox-label {
  background-color: #111111;
  width: 3rem;
  height: 1.5rem;
  border-radius: 15px;
  position: relative;
  padding: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
  background-color: #111111;
}
.fa-sun {
  color: #f39c12;
  background-color: #111111;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 1.45rem;
  height: 1.45rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(1.5rem);
}
