.prospect-modal-view{
    flex-direction: column;
    width: 30%;
    justify-self: right;
    padding: 30px;
    border: none;
    height: 100vh;
}

.prospect__view__modal__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 18px;
    gap:20px;
    border-radius: 8px;
}

.prospect__view__modal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 16px;
}

.prospect__view__modal > *{
    background-color: var(--background);
    border-radius: 6px;
}

.delete-prospect-button{
    display: flex;
    color: var(--red);
    background-color: transparent;
    border: none;
    justify-self: flex-end;
    gap: 8px;
}

.delete-prospect-button:hover{
    cursor: pointer;
}

.fa-trash{
    color: var(--red);
}