.personal__info__card {
  padding: 20px;
}

.personal__info__card__content{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.personal__info__card_phone,
.personal__info__card__email,
.personal__info__card__resume__file{
  display: flex;
  gap: 1rem;
}

.fa-file{
  font-size: 50px;
}

.personal__info__card_phone,
.personal__info__card__email{
    align-items: center;
}

.personal__info__card__resume{
  padding-bottom: 10px;
}

.personal__info__card__resume > p{
  padding-bottom: 20px;
}

.personal__info__card__resume__file p{ 
  align-self: center;
}

