.profile__info__card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.profile__info__card__content{
    display: flex;
    flex-direction: column;
}

.profile__info__card__content > *{
    padding-bottom: 20px;
}

.profile__info__card__content__name{
    font-weight: bold;
    padding-bottom: 0px;
}

.profile__info__card__jobTitle{
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-bottom: 20px;
}

.profile__info__card__status{
    display: flex;
    flex-direction: row;
    gap: 1em;
}



.personal__info__card__capabilities{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.personal__info__card__subcapabilities{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.profile__info__card__color__red{
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 50%;
    background-color: var(--red);
    align-content: center;
    justify-content: center;
}
.profile__info__card__color__yellow{
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 50%;
    background-color: var(--yellow);
    align-content: center;
    justify-content: center;
}
.profile__info__card__color__purple{
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 50%;
    background-color: var(--dark-blue);
    align-content: center;
    justify-content: center;
}
.profile__info__card__color__blue{
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 50%;
    background-color: var(--light-blue);
    align-content: center;
    justify-content: center;
}
.profile__info__card__color__green{
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 50%;
    background-color: var(--green);
    align-content: center;
    justify-content: center;
}

.profile__info__card__status__Active{
    color: var(--green);
}
.profile__info__card__status__Discarted{
    color: var(--red);
}.profile__info__card__status__Hired{
    color: var(--dark-blue);
}.profile__info__card__status__Paused{
    color: gray;
}