@import "./wordbubble/WordBubble.css";
@import "./control/Control.css";
@import "./toolbutton/ToolButton.css";

:root{
  --background: #2C2C2C;
  --light-comp: #383838;
  --dark-comp: #242424;
  --green: #4DCD6B;
  --yellow: #F6D181;
  --red: #FF7171;
  --light-blue: #82F3FF;
  --dark-blue: #689DFE;
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: var(--background);
  color: white; margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-size: 20px;
  font-weight: bold;
}
