@import "../index.css";

.ToolButton{
    display: flex;
    background-color: var(--light-comp);
    height: 30px;
    text-align: center;
    padding: 0 12px;
    gap: 8px;
    border-radius: 6px;
}

.ToolButton input[type="radio"]{
    display: none;
}

.ToolButton:has(input[type="radio"]:checked) {
    background-color: var(--yellow);
}

.ToolButton:has(input[type="radio"]:checked) > * {
    color: black;
}

.fa-solid{
    font-size: 16px;
    align-self: center;
    background-color: transparent;
}

.ToolButton p{
    background-color: transparent;
    align-self: center;
}